
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
   
    background-color: white;
    border-radius: 10rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
/*0000000000*/

.card{
    box-shadow: #adadad7c 1px 3px ;
    border-radius:6px;
    
    border-top:10px solid  hsl(36, 95%, 47%) ;/* hsl(189, 68%, 55%); */
}
.card-body{
    
    border-radius: 6px;
}
.round{
    height: 30vh;
    width: 30vh;
    border-radius:50%;
}

.data-taget{
    color: darkgray;
}
.navbarl{
    background-color: #1e90ff;
    color: aliceblue;
}
.head{
    height: 12vh;
    width: 100%;
    padding-left: 20px;
    padding-top:1vh;
    padding-bottom:1vh ;
}
.tt{
    text-align: center;
}


.circle{
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    transform: scale(0.9) ;
    transition: 970ms;
    background-color: #92e3e9;
    
}
.circle:hover{ 
    animation: holla 2s;
    transform: scale(1.0);

    transition: 970ms;
    
}

@keyframes holla{
    0%{
        transform: rotate(0deg) translateY(12px);;
     
    }
    50%{
        transform: rotate(-60deg) translateY(-12px);;

    }
    100%{
        transform: rotate(360deg);
    }
}

.img-user {
    width: 40px;
    height:40px;
}
.img-user:hover{
    animation: go 1s;
    transform: scale(1.0);

    transition: 970ms;
}
@keyframes go{
    0%{
        transform: rotate(0deg) translateY(12px);;
     
    }
    50%{
        transform: rotate(-60deg) translateY(-12px);;

    }
    100%{
        transform: rotate(360deg);
    }
}
.btn{
    width: 20vh;
    height: 5vh;
    border-radius: 10px;
    
}

.center{
    text-align: center;
    margin-left: 18%;
    
}
.close-test:hover{
    animation: goo 1s;
    transform: scale(1.0);

    transition: 970ms;
}
@keyframes goo{
    0%{
        transform: rotate(0deg) ;;
     
    }
    50%{
        transform: rotate(-60deg) ;;

    }
    100%{
        transform: rotate(360deg);
    }
}
.hover:link {
    text-decoration:none;
}
.hover:hover{
text-decoration:none;

}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 30px;
  width: 30px;
  outline: black;
  background-size: 30%, 30%;
  border-radius: 20%;
  background-color:rgb(172, 252, 255) ;
}

.lore{
    width: 14vh;
    padding: 9px 40px;
    border-radius: 30px;
    font-size: 16px;
    border: 1px solid #fff;
    display: inline-block;
    background-color: transparent;
    position: relative;
    margin-left:5px;
    margin-top: 10px;
}
.lore:hover{
    background-color: rgb(101, 185, 233);
    color: #049aff;
    -webkit-box-shadow: 2.5px 4.33px 10px 0px rgba(0, 0, 0, 0.13);
            box-shadow: 2.5px 4.33px 10px 0px rgba(0, 0, 0, 0.13);

}
.text_center{
    text-align: center;
}
.roundd{
    border-radius: 50%;
    width: 50vh;
    height: 30vh;
}
.te{
    margin-left: 50px;
}
.tee{
    margin-left: 100px;
}
.user{
    width: 10vh;
    height: 10vh;
    border: 1px solid black;
    border-radius: 50%;
    background-image: url('../image/user.png');
}